@charset "UTF-8";
body {
	background: #27572C;
	background-size: cover;
	background-position: center;
	font-family: 'Montserrat';
	margin: 0;
}

#body {
	flex-direction: column;
	width: 100%;
	display: flex;
	align-items: center;
}

#page {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

#header {
	display: flex;
	flex-direction: column;
	width: 100%;
	background: #787878;
}

#headercontainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: #787878;
	color: white;
    padding-left: 10px;
    padding-right: 10px;
}

#logout {
	padding-right: 0.2rem;
	text-decoration: none;
}

h1 {
	color: white;
	padding-bottom: 10px;
}

#total-value-container {
	width: 100%;
	max-width: 1200px;
	display: flex;
	justify-content: center;
}

#total-value-banner {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	align-items: center;
	background-color: white;
	padding: 10px;
	margin-top: 10px;
	width: 95%;
	box-sizing: border-box;
  border-radius: 10px;
	font-size: 1.3rem;
}

#total-value-change {
	display: none;
}

#chart-container {
	width: 100%;
	max-width: 1200px;
	display: flex;
	justify-content: center;
}

#chart {
    min-width: 310px;
    width: 95%;
    height: 400px;

    margin-top: 10px;
}

.error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.error {
	color: yellow;
	font-size: 12px;
	width: 80%;
    text-align: center;
}

.form-input {
	margin-bottom: 5px;
	margin-left: 10px;
	margin-right: 10px;
	padding: 10px;
	border-radius: 5px;
	border: none;
}

.button {
	color: white;
	padding: 10px;
	border-radius: 5px;
	border: none;
	background-color: #215227;
}

.datepicker {
	font-family: 'Montserrat';
	font-size: 0.75em !important;
}

.button:hover {
	background-color: #467a4d;
}

a {
	color: white;
}

a:hover {
	color: darkgrey;
}

#bottom {
	color: white;
	padding-top: 10px;
}

.button-row {
	display: flex;
	justify-content: center;
	width: 100%;
}

.button-row * {
	margin: 10px;
	width: 40%;
}

#table-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	max-width: 1200px;
	align-items: center;
	text-align: center;
}

#button-panel {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 95%;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #588c5e;
}

.button-panel-button {
	background: white;
	border-radius: 5px;
	padding: 10px;
	margin: 5px;
	width: 30%;
	/* font-weight: bolder; */
    font-size: 1.2rem;
    border: none;
}

#historical-table {
	display: flex;
	flex-direction: column;
	width: 95%;
	border: 1px solid white;
	background-color: aliceblue;

    margin-bottom: 10px;
}

#historical-table-title {
	font-size: 1.4rem;
	font-weight: bolder;
}

#sp-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: white;
	width: 100%;
	margin: 10px 0px;
	padding: 10px 0px;
}

.table-select-container {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background: white;
    width: 100%;
    margin-bottom: 10px;
}
.select-button-historical {
    margin: 0px 10px;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Montserrat';
    border-radius: 5px;
    background-color: #d3eaff;
    border: none;
}
.select-button-portfolio {
    margin: 0px 10px;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Montserrat';
    border-radius: 5px;
    background-color: #eaeab2;
    border: none;
}

#historical-table-headers {
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	justify-items: center;
	align-items: center;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10px;
	background: white;
}

.historical-table-item {
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	justify-items: center;
	/* border-top: 1px solid black; */
	margin-top: 5px;
	background: white;
}

#portfolio-table {
	display: flex;
	flex-direction: column;
	width: 95%;
	border: 1px solid white;
	background-color: beige;
    margin-bottom: 10px;
}

#portfolio-table-title {
	font-size: 1.4rem;
	font-weight: bolder;
}

#portfolio-table-headers {
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	justify-items: center;
	align-items: center;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10px;
	background: white;
}

.portfolio-table-item {
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	justify-items: center;
	/* border-top: 1px solid black; */
	margin-top: 5px;
	background: white;
}

.row-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 5px;
	padding-bottom: 5px;
}

.row-item-text {
	word-wrap: break-word;
	word-break: break-all;
}

.track-button {
	color: white;
	padding: 5px;
	border-radius: 5px;
	border: none;
	background-color: #7988a5;
}

.sell-button {
	color: white;
	padding: 5px;
	border-radius: 5px;
	border: none;
	background-color: red;
    width: 60px;
}

#addStockModal {
	display: none;
	position: absolute;
	background: #588c5e;
	border-radius: 5px;
	z-index: 2;
	width: 90%;
	max-width: 500px;
}

#addStockForm {
	display: flex;
	flex-direction: column;
}

#add-historical-modal {
    display: none;
	position: absolute;
	background: #588c5e;
	border-radius: 5px;
	z-index: 2;
	width: 90%;
	max-width: 500px;
}

#add-historical-form {
    display: flex;
	flex-direction: column;
}

#sellStockModal {
	display: none;
	position: absolute;
	background: #588c5e;
	border-radius: 5px;
	z-index: 2;
	width: 90%;
	max-width: 500px;
}

#sell-modal-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#sellP {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: white;
	padding: 10px;
}

#import-csv {
	display: none;
}

#importCsvModal {
	display: none;
	position: absolute;
	background: #588c5e;
	border-radius: 5px;
	z-index: 2;
	width: 90%;
	max-width: 500px;
}

#import-modal-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#import-modal-text {
	color: white;
	margin-top:	20px;
	margin-bottom: 15px;
	text-align: center;
}

.swal-modal .swal-text {
    text-align: center;
}

.close {
	align-self: flex-end;
	padding: 3px;
	border-radius: 50%;
}

.close:hover,
.close:focus {
	color: lightgrey;
	text-decoration: none;
	cursor: pointer;
}

#opaque-layer {
	position: fixed;
	width: 100%;
	height: 100%;
	background: black;
    opacity: 0.6;
	display: none;
	z-index: 1;
}

#modal-parent {
	display: none;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 999;
}

@media (max-width: 691px) {
	.button-panel-button {
      font-weight: bolder;
      font-size: 0.9rem;
      height: 70px;
    }
}

/* Copied Slider Stuff Below */
/* When in doubt, comment it all out */
.slider-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

.slider-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(30px);
  -ms-transform: translateX(30px);
  transform: translateX(30px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
