@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #27572C;
	background-size: cover;
	background-position: center;
	font-family: 'Montserrat';
}

#body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 100vh;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-grow: 2;
}

.error {
	color: yellow;
	font-size: 12px;
	width: 80%;
	text-align: center;
}

#inner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #588c5e;
	border-radius: 10px;
	padding: 1rem;
}

h1 {
	color: white;
	padding-bottom: 10px;
}

input {
	margin: 2%;
	padding: 10px;
	border-radius: 5px;
	border: none;
	width: 80%;
}

input:focus {
	outline: none;
}

.button {
	width: 80%;
	color: white;
	background-color: #215227;
}

.button:hover {
	background-color: #467a4d;
}

a {
	color: white;
}

a:hover {
	color: darkgrey;
}

#bottom {
	color: white;
	padding-top: 10px;
}

.headercontainer {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
	padding: 10px;
	background-color: #787878;
	color: white;
}