@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #27572C;
	background-size: cover;
	background-position: center;
	font-family: 'Montserrat';
}

#body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 100vh;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-grow: 2;
}

#inner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #588c5e;
	border-radius: 10px;
	padding: 1rem;
}

.headercontainer {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
	padding: 10px;
	background-color: #787878;
	color: white;
}

label {
	color: white;
}

a {
	color: white;
}

h1 {
	color: white;
	padding-bottom: 10px;
}

a:hover, a:focus {
	color: white;
	text-decoration: none;
}

a:link {
  	text-decoration: none;
}

.button {
	background-color: #215227;
	border: none;
	color: white;
	padding: 10px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	cursor: pointer;
	transition: all 0.5s;
	margin: 5px;
	opacity: 0.9;
	border-radius: 12px;
	font-family: 'Montserrat';
}

.button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.button span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.button:hover span {
	padding-right: 25px;
}

.button:hover span:after {
	opacity: 1;
	right: 0;
}